<p id="notice"><%= notice %></p>



#Begin: Code for displaying a post
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
#End: Code for displaying a post



#Begin: Code for displaying comments associated with a post
<h2>Comments</h2>
<div id="comments">
  <%= render :partial => @post.comments.reverse %>
</div>
#End: Code for displaying comments associated with a post



#Begin: Form for creating new comment
<%= form_for([@post, Comment.new], remote: true) do |f| %>
<p><%= f.label :body, "New Comment" %><br />
  <%= f.text_area :body %>
</p>
<p><%= f.submit "Add Comment" %></p>
<% end %>
#End: Form for creating new comment


#Links
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
